 
body {
  background-color: #f8f6f4df;
}

.brownie {
  background-image: url(bg.jpg);
}
 
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.custom-contact {
  
  --padding: 7.5%;
  /* padding-left: var(--padding); */
  padding-right: var(--padding);
  margin-top: 2rem !important;
}

.top-bar {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 993px) {
  .page {
    --xpad: 2.5%;
    padding-left: var(--xpad);
    padding-right: var(--xpad);
  }
  .custom-contact {
    padding-left: var(--padding);
  }

  .midsize-title {
    display: none;
  }

  .small-title {
    color: black;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1.5%;
    padding-left: var(--padding);
  }

  #showcase {
    display: none;
  }
}

@media (max-width: 550px) {
  .small-title {
    font-size:1.5rem;
  }

  .top-bar {
    height: 10%;
;
  }
}


.title-container {
  display: flex;
  justify-content: center;
}


.title {
  --square: 10rem;
  background-color: black;
  height: var(--square);
  width: var(--square);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 48;
  border-radius: 15px;
  border: 2px solid white;
  box-shadow: rgb(28, 31, 34) 0px 10px 10px;
  
}


button {
  border: 1px solid black;
}

